html, body, #map {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    font-size: 12pt;
    line-height: 1.25em;
}

#about-dialog, #zone-warning-dialog { display: none; }

.modal-content #about-dialog,
.modal-content #zone-warning-dialog { display: block; }

.modal-content h1,
#zone-warning-dialog { text-align: center; }

.modal-content img.demo {
    display: block;
    margin: auto;
    max-width: 100%;
    border: 1px solid black;
}

/* Use FontAwesome icons as map markers. */
.leaflet-marker-icon.fa {
    font-size: 0.5in !important;
    margin: -0.25in 0 0 -0.25in !important;
    width: 0.5in !important;
    height: 0.5in !important;
    line-height: 0.5in !important;
    text-align: center !important;
}

/* Icon colors. */
.fa-times-circle-o { color: #C00; }
.fa-check-circle-o { color: #0A0; }
.state-about { color: #00A; }
.state-place { color: #00A; }
.state-zone-warning { color: #A20; }

/* Make the Easy Button buttons bigger so
 * you can easily hit them on tiny phones. */
.easy-button-container .easy-button-button {
    min-width: 0.5in;
    min-height: 0.5in;
    font-size: 0.4in;
    padding: 0.04in;
}

.easy-button-button.disabled { opacity: 1.0 !important; }
.easy-button-button.near-active.disabled { background-color: #AFA; }
.easy-button-button.far-active.disabled { background-color: #FBB; }
