html, body, #map {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    font-size: 12pt;
    line-height: 1.25em;
}

#about-dialog { display: none; }

.modal-content #about-dialog { display: block; }

.modal-content h1 { text-align: center; }

.state-far { color: #C00; }
.state-near { color: #0A0; }
.state-about { color: #00A; }
.state-place { color: #00A; }

/* Make the Easy Button buttons bigger so
 * you can easily hit them on tiny phones. */
.easy-button-container .easy-button-button {
    min-width: 0.5in;
    min-height: 0.5in;
    font-size: 0.4in;
    padding: 0.04in;
}
